<div class="row {{::csStyle}}">
  <div class="form-group d-flex align-items-center col-12">
    <select id="{{::binding}}" class=""
            ng-options="option.name | translate disable when option.disabled for option in items track by option.id"
            ng-model="innerModel" ng-change="innerOnChange()" data-style="{{boxStyle}}">
      <option value="" ng-if="placeHolder != undefined" translate>{{::placeHolder}}</option>
    </select>
    <a ng-show="inputGuide != null" href ng-click="displayPopover()" class="guide-icon no-underline">
      <i class="fa fa-info-circle" aria-hidden="true"></i>
    </a>
  </div>
  <div id="error" class="validate-error col-12 text-right" for="{{::binding}}" style="">{{errorMessage | translate}}</div>
</div>