<style>
  .commentText {
    white-space: pre-line !important;
  }
</style>
<div class="media custom-comment-box">
  <a class="pull-left btn btn-neutral" href="/user/{{::comment.userId}}">
    <div class="avatar">
      <img class="media-object" ng-src="{{::imageUrl.user.avatar.thumb}}{{::comment.userId}}" ng-cloak>
    </div>
  </a>
  <div class="media-body">
    <div class="">
      <h5 class="media-heading d-inline comment-user-name">
        <a class="no-underline" href="/user/{{::comment.userId}}">{{::comment.userName}}</a>
          <small> <ago value="comment.commentDate" has-time></ago> </small>
      </h5>
      <div class="more-icon-command-outer pull-right dropleft">
        <a class="more-icon-command" id="comment-command-{{::comment.id}}" ng-show="comment.owner == true || post.owner == true"
           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></a>
        <div class="dropdown-menu" aria-labelledby="comment-command-{{::comment.id}}">
            <a class="dropdown-item" ng-show="comment.owner" 
               ng-click="editComment(comment)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>
              <translate>button.edit</translate>
            </a>
            <hr ng-show="comment.owner == true" />
            <a class="dropdown-item" ng-show="comment.owner == true || post.owner == true"
              ng-click="deleteComment(comment)"><i class="fa fa-trash-o" aria-hidden="true"></i>
              <translate>button.delete</translate>
            </a>
        </div>
      </div>
    </div>
    <div cs-resize-text-area="isRedered" cs-compile="mainContent"/>
  </div>
</div>