<div class="combo-date-picker row {{::csStyle}}">
  <div class="form-group align-items-center col-12">
    <div class="row">
      <div class="date-select" ng-class="::(timePicker != 'none' ? 'col-md-8' : 'col-md-12')">
        <div class="row no-gutters">
          <div class="col-md-4">
            <select ng-model="date" data-style="{{::boxStyle}}"
                    ng-options="date.value as date.name for date in dates" id="{{::binding}}-date-select"
                    tabindex="{{::tabIndexs.date}}">
            </select>
          </div>
          <div class="col-md-4">
            <select ng-model="month" data-style="{{::boxStyle}}"
                    ng-options="month.value as month.name for month in months" id="{{::binding}}-month-select"
                    tabindex="{{::tabIndexs.month}}">
            </select>
          </div>
          <div class="col-md-4">
            <select ng-model="year" data-style="{{::boxStyle}}"
                    ng-options="year.value as year.name for year in years" id="{{::binding}}-year-select"
                    tabindex="{{::tabIndexs.year}}">
            </select>
          </div>
        </div>
      </div>
      <div ng-show="timePicker != 'none'" class="col-md-4 time-picker-box">
        <div ng-show="isShowTimePicker" class="row no-gutters">
          <div class="col-6">
            <select ng-model="hour" data-style="{{::boxStyle}}"
                    ng-options="hour.value as hour.name for hour in hours" id="{{::binding}}-hour-select"
                    tabindex="{{::tabIndexs.hour}}">
            </select>
          </div>
          <div class="col-6">
            <select ng-model="minute" data-style="{{::boxStyle}}"
                    ng-options="minute.value as minute.name for minute in minutes" id="{{::binding}}-minute-select"
                    tabindex="{{::tabIndexs.minute}}">
            </select>
          </div>
        </div>
        <div ng-show="!isShowTimePicker" class="row no-gutters">
          <a href="" ng-click="showTimePicker()" translate>
            {{::showTimePickerLabel}}
          </a>
        </div>
      </div>
    </div>
  </div>
  <div id="error" class="validate-error col-12 col-form-label text-right" style="">{{errorMessage | translate}}</div>
</div>