<div class="row {{::csStyle}}">
  <div class="form-group d-flex align-items-center col-12">
    <input ng-disabled="disabled" type="{{::type}}" ng-model="innerModel" id="{{::binding}}"
           ng-model-options="{upDateon: 'blur'}"
           translate-attr="{placeholder: placeHolder}"
           class="form-control input-group-lg" ng-change="innerOnChange()"
           maxlength={{::maxlength}} tabindex="{{::tabIndex}}"/>
    <a ng-show="inputGuide != null" href ng-click="displayPopover()" class="guide-icon no-underline">
      <i class="fa fa-info-circle" aria-hidden="true"></i>
    </a>
  </div>
  <div id="error" class="validate-error col-12 text-right" for="{{::binding}}" style="">{{errorMessage | translate}}</div>
</div>