<div class="row {{::csStyle}}">
  <div class="form-group d-flex align-items-center col-12">
    <tags-input ng-model="tagsinput" placeholder="{{placeHolder | translate}}"
                replace-spaces-with-dashes="false"
                display-property="{{::displayProperty}}" class="col-12" style="padding: 0px;" ng-blur="validate()"
                tabindex="{{::tabIndex}}">
      <auto-complete source="loadTagsSource($query)" load-on-focus="true" load-on-empty="true" min-length="1"
                     ng-if="sourceData">
      </auto-complete>
    </tags-input>
  </div>
  <div id="error" class="validate-error col-form-label col-12 text-right" for="{{::binding}}">{{errorMessage | translate}}
  </div>
</div>