.wizard-container {
  z-index: 3;
}

.wizard-card {
  min-height: 410px;
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.wizard-card .wizard-header {
  text-align: center;
  padding: 10px 0 25px;
}

.wizard-card .wizard-title {
  margin: 0;
}

.wizard-container .wizard-navigation {
  position: relative;
}

.wizard-container .nav-pills {
  background-color: rgba(200, 200, 200, 0.2);
}

.wizard-card .nav-pills > li {
  text-align: center;
}

.wizard-card .nav-pills > li.active > a,
.wizard-card .nav-pills > li.active > a:hover,
.wizard-card .nav-pills > li.active > a:focus,
.wizard-card .nav-pills > li > a:hover,
.wizard-card .nav-pills > li > a:focus {
  background-color: inherit;
}

.wizard-card .nav-pills > li > a {
  border: 0 !important;
  border-radius: 0;
  line-height: 18px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  min-width: 100px;
  text-align: center;
  color: #555555 !important;
}

.wizard-card .nav > li > a {
  position: relative;
  display: block;
  padding: 10px 15px;
}

.wizard-card[data-color="green"] .moving-tab {
  position: absolute;
  text-align: center;
  padding: 12px;
  font-size: 12px;
  text-transform: uppercase;
  -webkit-font-smoothing: subpixel-antialiased;
  background-color: #4caf50;
  top: -2px;
  left: 0px;
  border-radius: 4px;
  color: #FFFFFF;
  cursor: pointer;
  font-weight: 500;
  box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(76, 175, 80, 0.4);
}

.wizard-card .btn {
  text-transform: uppercase;
}

.wizard-card .tab-content {
  min-height: 340px;
  padding: 20px 15px;
}

.wizard-card .info-text {
  text-align: center;
  font-weight: 300;
  margin: 10px 0 30px;
}

.wizard-card .wizard-footer {
  padding: 0 15px;
}

.wizard-card .wizard-footer .checkbox {
  margin-top: 16px;
}

.wizard-card .disabled {
  display: none;
}

.wizard-card .choice {
  text-align: center;
  cursor: pointer;
  margin-top: 20px;
}

.wizard-card .choice .icon {
  text-align: center;
  vertical-align: middle;
  height: 116px;
  width: 116px;
  border-radius: 50%;
  color: #999999;
  margin: 0 auto 20px;
  border: 4px solid #CCCCCC;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
}

.wizard-card .choice i {
  font-size: 40px;
  line-height: 111px;
}

.wizard-card .choice .icon:hover,
.wizard-card .choice .icon:active {
  border-color: #f96332;
  color: #f96332;
}

.wizard-card .choice input[type="radio"],
.wizard-card .choice input[type="checkbox"] {
  position: absolute;
  left: -10000px;
  z-index: -1;
}

.wizard-card .btn-finish {
  display: none;
}

.wizard-card .description {
  color: #999999;
  font-size: 14px;
}